{% extends "account/base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">

            <div class="card shadow-sm">
                <div class="card-body">

                    <div class="text-center mb-4">
                        <h2 class="fw-bold mt-4" style="color:#0d6efd;">Create Password </h2>
                        <p class="text-muted">Welcome! Please create a new password.</p>
                    </div>

                    <div class="card border-0 p-4">
                        <form method="POST">
                            {% csrf_token %}

                            {{ form.as_p }}

                            <button type="submit" class="btn btn-primary w-100 py-2 mt-2" style="border-radius: 10px;">
                                Confirm
                            </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}