{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">

            <div class="card shadow-sm">
                <div class="card-body">

                    <div class="text-center mb-2">
                        <h2 class="fw-bold mt-4" style="color:#0d6efd;">Forgot Password ?</h2>
                        <p class="text-muted">No worries! We'll send you reset instructions.</p>
                    </div>

                    <div class="card border-0 p-4">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="text-danger small">
                                {{ form.non_field_errors }}
                            </div>

                            <div class="mx-auto" style="width: 75%;">

                                <div class="mb-3">
                                    <label class="form-label small text-muted">Email</label>
                                    {{ form.email }}
                                    <div class="text-danger small">{{ form.email.errors }}</div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary w-50 py-2 mt-2 justify-center" style="border-radius: 10px;">
                                        Next
                                    </button>
                                </div>
                                
                            </div>
                
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}