{% extends "base.html" %}

{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12">

            <div class="card shadow-sm">
                <div class="card border-0 p-4 text-center">
                    <h1 class="not-found">404</h1>
                    <p class="not-found-p">We couldn’t find that page.</p>
                    <a class="go-home" href="/">Return Home</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}