{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-12 d-flex justify-content-center">

            <div class="card-wrapper">

                <div class="card shadow-sm px-4 py-5">
                    <div class="card-body justify-center text-center">

                        <h3 class="card-title mb-4">Dashboard Overview</h3>
                        
                        <div class="d-flex flex-nowrap justify-content-center w-100 my-4">
                            {% for day in week_days %}
                                <div class="d-flex flex-column align-items-center">
                                    <div class="
                                        px-3 py-2 rounded border text-center day-box mx-1
                                        {% if day.is_today %}
                                            bg-primary text-white border-primary
                                        {% else %}
                                            bg-white text-dark text-muted border-secondary
                                        {% endif %}
                                    ">
                                        <div>{{ day.label }}</div>
                                        <div class="small">{{ day.month }}</div>
                                        <div class="fw-bold">{{ day.date }}</div>
                                    </div>
                                    {% if day.mood %}
                                    <div class="mt-2">
                                        <img src="{% static 'dashboard/images/' %}{{ day.mood }}.png"
                                        class="mood-img">
                                    </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>

                        <div>
                            <a href="#" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#activityModal">
                                Check-In activity info
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

{% include "dashboard/components/checkin_form.html" %}

{% endblock %}